@model List<Product>


@foreach (var item in Model)
{
    <div class="item">
        <div class="disImage">
            <a asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
                <img class="img-fluid" src="./Images/productImages/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" alt="">
            </a>
        </div>
        <a asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
            <h2>
                @item.Name
            </h2>
        </a>
        @if (item.DiscountPercent > 0)
        {
            <div class="disPrice">
                <p>₼@((item.SalePrice*(100-item.DiscountPercent)/100).ToString("#.00"))</p>
                <del> ₼@item.SalePrice.ToString("#.00")</del>
                <span> @item.DiscountPercent%</span>
            </div>
        }
        else
        {
            <div class="disPrice">
                <p> ₼@item.SalePrice.ToString("#.00")</p>
            </div>
        }
        @if (item.StockStatus == false)
        {
            <div class="notStock ">
                <h1>Not Stock</h1>
            </div>
            <div class="wishIcon">
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </div>
        }
        else
        {
            <div class="basketIcon">
                <a class="addBasket" asp-action="addbasket" asp-controller="product" asp-route-id="@item.Id">
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>
            </div>
            <div class="wishIcon">
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </div>
        }
    </div>
}

