@model List<Comment>
@{
    ViewData["Title"] = "Comments";
    int count = 0;
}


<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="displ card-header">
                        <h4 class="card-title">
                            Products Comment Panel
                        </h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>ProductName</th>
                                        <th>Text</th>
                                        <th>Rate</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        TempData["InfoModal"] = count;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Fullname</td>
                                            <td>@item.Email</td>
                                            <td>@item.Product.Name</td>
                                            <td>@(item.Text==null || item.Text.Length<=250?item.Text:item.Text.Substring(0,250)+"...")</td>
                                            <td>@item.Rate</td>
                                            <td><span class="badge badge-@(item.CommentStatus?"success":"info")">@(item.CommentStatus ? "Tesdiqlenib":"Gözlemededir")</span></td>
                                            <td>
                                                <a data-bs-toggle="modal" data-bs-target="#infoModal-@count" class="btn btn-warning">Info</a>
                                                <a asp-action="deletecomment" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                                            </td>
                                        </tr>
                                        @await Html.PartialAsync("_CommentInfoModalPartial", item)
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>ProductName</th>
                                        <th>Text</th>
                                        <th>Rate</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/manage/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/manage/js/plugins-init/datatables.init.js"></script>
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}


