
@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="displ card-header">
                        <h4 class="card-title">
                            Basic Datatable
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" >
                            <a class="btn btn-primary mb-1" asp-action="create" asp-controller="product">Create</a>

                        </div>

                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>SalePrice</th>
                                        <th>CostPrice</th>
                                        <th>Country</th>
                                        <th>StockStatus</th>
                                        <th>Brand</th>
                                        <th>Comment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                    <tr>
                                        <td>
                                            <img src="~/manage/images/product/1.jpg" width="100" height="100" />
                                        </td>
                                        <td>
                                            @product.Name
                                        </td>
                                        <td>@product.SalePrice</td>
                                        <td>@product.CostPrice</td>
                                        <td>@product.Country</td>
                                        <td>@product.StockStatus</td>
                                        <td>@product.Brand.Name</td>
                                        <td>
                                            <a class="btn btn-primary mb-1" asp-action="comments" asp-controller="product" asp-route-id="@product.Id">Comments(@product.Comments.Count())</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-warning mb-1" asp-action="edit" asp-controller="product" asp-route-id="@product.Id">Edit</a>
                                            <a class="btn btn-danger delete-btn  mb-1" asp-action="delete" asp-controller="product" asp-route-id="@product.Id">Delete</a>
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>SalePrice</th>
                                        <th>CostPrice</th>
                                        <th>StockStatus</th>
                                        <th>Brand</th>
                                        <th>Comment(0)</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/manage/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/manage/js/plugins-init/datatables.init.js"></script>
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

}