@model CheckoutViewModel
@{
    ViewData["Title"] = "Cart";
    decimal TotalPrice = 0;
    decimal SalePrice = 0;
    decimal TotalSave = 0;
    decimal MRPTotal = 0;
}


<section id="basket">

    <div class="container">

        <h1>
            Order Summary
        </h1>

        <div class="row basketSlider">
            <div class="col-lg-7 ">
                <div class="owl-carousel owl-carousel-basket owl-theme slider p-0 m-0">
                    <div class="item">
                        <img src="~/Images/Baskets/1641830349_Cart_Bannersgt.jpg" alt="" width="100%" height="100%">
                    </div>
                    <div class="item">
                        <img src="~/Images/Baskets/1643642593_Cart_Bannernms1.jpg" alt="" width="100%"
                             height="100%">
                    </div>
                    <div class="item">
                        <img src="~/Images/Baskets/1643642689_Cart_Bannersip.jpg" alt="" width="100%" height="100%">
                    </div>
                    <div class="item">
                        <img src="~/Images/Baskets/1643642791_Cart_Bannernmsf.jpg" alt="" width="100%"
                             height="100%">
                    </div>
                    <div class="item">
                        <img src="~/Images/Baskets/1643981455_qwdes.jpg" alt="" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="col-lg-5"></div>
        </div>

        <div class="row products">
            <div class="col-lg-7 productsBox">
                <p>
                    PRODUCTS
                </p>
                @foreach (var item in Model.CheckoutItems)
                {

                    SalePrice = item.Product.DiscountPercent > 0 ? (item.Product.SalePrice * (1 - item.Product.DiscountPercent / 100)) : item.Product.SalePrice;
                    TotalPrice = SalePrice * item.Count;
                    MRPTotal = item.Product.SalePrice * item.Count;
                    TotalSave += MRPTotal - TotalPrice;


                    if (item.Product.StockStatus == true)
                    {
                        <div class="product">
                            <div class="leftSide">
                                <img src="~/Images/productImages/@item.Product.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                            </div>
                            <div class="rightSide">
                                <h3>
                                    <a asp-action="detail" asp-controller="product" asp-route-id="@item.Product.Id">
                                        @item.Product.Name
                                    </a>
                                </h3>
                                <p>
                                    Mfr: @item.Product.Brand
                                </p>
                                <div class="priceCount">
                                    <div class="price">
                                        <p> ₼@TotalPrice.ToString("#.00")</p>
                                        <del>₼@MRPTotal.ToString("#.00") </del>
                                    </div>
                                    <div class="count">
                                        <label for="count">Count</label>
                                        <p>@item.Count</p>

                                    </div>
                                </div>
                                <form method="post" asp-action="DeleteBasket" asp-controller="product"> 
                                    <div class="productBtn">
                                        <a class="btn btn-primary deleteBtn" asp-action="deleteBasket" asp-controller="product" asp-route-id="@item.Product.Id">
                                            Remove
                                        </a>
                                    </div>
                                </form>
                              
                            </div>
                        </div>
                    }

                }
                <hr>
            </div>
            <div class="col-lg-5 payment">
                <div class="paymentBox">
                    <h4>
                        PAYMENT DETAILS
                    </h4>
                    <div class="MRP">
                        <span>
                            MRP Total
                        </span>
                        <p>
                            ₼@MRPTotal.ToString("#.00")
                        </p>
                    </div>
                    <div class="netmedsDiscount">
                        <span>
                            Netmeds Discount
                        </span>
                        <p>
                            - ₼@TotalSave.ToString("#.00")
                        </p>
                    </div>
                    <div class="totalAmount">
                        <span>
                            Total Amount *
                        </span>
                        <p>
                            ₼@TotalPrice.ToString("#.00")
                        </p>
                    </div>
                    <div class="totalSaving">
                        <span>
                            TOTAL SAVINGS
                        </span>
                        <p>
                            ₼@TotalSave.ToString("#.00")
                        </p>
                    </div>

                    <div class="totalBtn">
                        <div class="totalAmountDown">
                            <span>
                                TOTAL AMOUNT
                            </span>
                            <p>
                                ₼@TotalPrice.ToString("#.00")
                            </p>
                        </div>
                        <div class="proceedBtn">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-action="login" asp-controller="account" class="btn btn-primary">
                                    PROCEED
                                </a>
                            }
                            else
                            {
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">
                                    PROCEED
                                </a>
                            }
                            @await Html.PartialAsync("_CheckoutModalPartial",Model.Order)

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mostOwl">
            <h1>
                MOST SELLING PRODUCTS
            </h1>
            <div class="col-lg-7">
                <div class="owl-carousel owl-theme owl-carousel-mostOwl">

                    <div class="item">
                        <div class="disImage">
                            <a href="#">
                                <img class="img-fluid" src="~/Images/discountsOwls/dr-vaidyas.jpg" alt="">
                            </a>
                        </div>
                        <a href="#">
                            <h2>
                                Hashmi
                            </h2>
                        </a>
                        <div class="disPrice">
                            <p> ₼27,00</p>
                            <del> ₼30,00</del>
                        </div>
                        <div class="notStock ">
                            <h1>Not Stock</h1>
                        </div>
                        <div class="basketIcon">
                            <a href="#">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                        <div class="wishIcon">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>

                    </div>
                    <div class="item">
                        <div class="disImage">
                            <a href="#">
                                <img class="img-fluid" src="~/Images/discountsOwls/dr-vaidyas.jpg" alt="">
                            </a>
                        </div>
                        <a href="#">
                            <h2>
                                Hashmi
                            </h2>
                        </a>
                        <div class="disPrice">
                            <p> ₼27,00</p>
                            <del> ₼30,00</del>
                        </div>
                        <div class="notStock ">
                            <h1>Not Stock</h1>
                        </div>
                        <div class="basketIcon">
                            <a href="#">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                        <div class="wishIcon">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>

                    </div>
                    <div class="item">
                        <div class="disImage">
                            <a href="#">
                                <img class="img-fluid" src="~/Images/discountsOwls/dr-vaidyas.jpg" alt="">
                            </a>
                        </div>
                        <a href="#">
                            <h2>
                                Hashmi
                            </h2>
                        </a>
                        <div class="disPrice">
                            <p> ₼27,00</p>
                            <del> ₼30,00</del>
                        </div>
                        <div class="notStock ">
                            <h1>Not Stock</h1>
                        </div>
                        <div class="basketIcon">
                            <a href="#">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                        <div class="wishIcon">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>

                    </div>
                    <div class="item">
                        <div class="disImage">
                            <a href="#">
                                <img class="img-fluid" src="~/Images/discountsOwls/dr-vaidyas.jpg" alt="">
                            </a>
                        </div>
                        <a href="#">
                            <h2>
                                Hashmi
                            </h2>
                        </a>
                        <div class="disPrice">
                            <p> ₼27,00</p>
                            <del> ₼30,00</del>
                        </div>
                        <div class="notStock ">
                            <h1>Not Stock</h1>
                        </div>
                        <div class="basketIcon">
                            <a href="#">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                        <div class="wishIcon">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/basketOwl.js"></script>
    <script src="~/js/mostOwl.js"></script>
}

