@model CheckoutViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager;
@{
    ViewData["Title"] = "Cart";
    decimal TotalPrice = 0;
    decimal SalePrice = 0;
    decimal TotalSave = 0;
    decimal MRPTotal = 0;
    AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;

}


<section id="basket">

    <div class="container">

        <h1>
            Order Summary
        </h1>

        <div class="row basketSlider">
            <div class="col-lg-7 ">
                <div class="owl-carousel owl-carousel-basket owl-theme slider p-0 m-0">
                    @foreach (var slider in Model.OrderSliders)
                    {
                        <div class="item">
                            <img src="~/uploads/ordersliders/@slider.Image" alt="" width="100%" height="100%">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5"></div>
        </div>

        <div class="row products">
            <div class="col-lg-7 productsBox">
                <p>
                    PRODUCTS
                </p>
                @foreach (var item in Model.CheckoutItems)
                {

                    SalePrice = item.Product.DiscountPercent > 0 ? (item.Product.SalePrice * (1 - item.Product.DiscountPercent / 100)) : item.Product.SalePrice;
                    TotalPrice = SalePrice * item.Count;
                    MRPTotal = item.Product.SalePrice * item.Count;
                    TotalSave += MRPTotal - TotalPrice;


                    if (item.Product.StockStatus == true)
                    {
                        <div class="product">
                            <div class="leftSide">
                                <img src="~/Images/productImages/@item.Product.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                            </div>
                            <div class="rightSide">
                                <h3>
                                    <a asp-action="detail" asp-controller="product" asp-route-id="@item.Product.Id">
                                        @item.Product.Name
                                    </a>
                                </h3>
                                <p>
                                    Mfr: @item.Product.Brand
                                </p>
                                <div class="priceCount">
                                    <div class="price">
                                        <p> ₼@TotalPrice.ToString("#.00")</p>
                                        <del>₼@MRPTotal.ToString("#.00") </del>
                                    </div>
                                    <div class="count">
                                        <label for="count">Count</label>
                                        <p>@item.Count</p>

                                    </div>
                                </div>
                                <form method="post" asp-action="DeleteBasket" asp-controller="product">
                                    <div class="productBtn">
                                        <a class="btn btn-primary removeBasket" asp-action="deleteBasket" asp-controller="product" asp-route-id="@item.Product.Id">
                                            Remove
                                        </a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    }

                }
                <hr>
            </div>
            <div class="col-lg-5 payment">
                <div class="paymentBox">
                    <h4>
                        PAYMENT DETAILS
                    </h4>
                    <div class="MRP">
                        <span>
                            MRP Total
                        </span>
                        <p>
                            ₼@MRPTotal.ToString("#.00")
                        </p>
                    </div>
                    <div class="netmedsDiscount">
                        <span>
                            Netmeds Discount
                        </span>
                        <p>
                            - ₼@TotalSave.ToString("#.00")
                        </p>
                    </div>
                    <div class="totalAmount">
                        <span>
                            Total Amount *
                        </span>
                        <p>
                            ₼@TotalPrice.ToString("#.00")
                        </p>
                    </div>
                    <div class="totalSaving">
                        <span>
                            TOTAL SAVINGS
                        </span>
                        <p>
                            ₼@TotalSave.ToString("#.00")
                        </p>
                    </div>

                    <div class="totalBtn">
                        <div class="totalAmountDown">
                            <span>
                                TOTAL AMOUNT
                            </span>
                            <p>
                                ₼@TotalPrice.ToString("#.00")
                            </p>
                        </div>
                        <div class="proceedBtn">
                            @if (user != null && user.IsAdmin == false)
                            {
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">
                                    PROCEED
                                </a>
                            }
                            else
                            {
                                <a asp-action="login" asp-controller="account" class="btn btn-primary">
                                    PROCEED
                                </a>
                            }
                            @await Html.PartialAsync("_CheckoutModalPartial", Model.Order)

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mostOwl">
            <h1>
                MOST SELLING PRODUCTS
            </h1>
            <div class="col-lg-7">
                <div class="owl-carousel owl-theme owl-carousel-mostOwl">

                    @foreach (var slider in Model.MostSellingOwl)
                    {
                        <div class="item">
                            <div class="disImage">
                                <a asp-action="detail" asp-controller="product" asp-route-id="@slider.Id">
                                    <img class="img-fluid" src="~/uploads/products/@slider.ProductImages.FirstOrDefault(x=>x.PosterStatus == true)?.Image" alt="">
                                </a>
                            </div>
                            <a asp-action="detail" asp-controller="product" asp-route-id="@slider.Id">
                                <h2>
                                    @slider.Name
                                </h2>
                            </a>
                            @if (slider.DiscountPercent > 0)
                            {
                                <div class="disPrice">
                                    <p>₼@((slider.SalePrice*(100- slider.DiscountPercent)/100).ToString("#.00"))</p>
                                    <del> ₼@slider.SalePrice.ToString("#.00")</del>
                                    <span> @slider.DiscountPercent%</span>
                                </div>
                            }
                            else
                            {
                                <div class="disPrice">
                                    <p> ₼@slider.SalePrice.ToString("#.00")</p>
                                </div>
                            }
                            @if (slider.StockStatus == false)
                            {
                                <div class="notStock ">
                                    <h1>Not Stock</h1>
                                </div>
                                <div class="wishIcon">
                                    <a asp-action="addwish" asp-controller="product" asp-route-id="@slider.Id" class="addWish">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="basketIcon">
                                    <a class="addMostBasket" asp-action="addbasket" asp-controller="product" asp-route-id="@slider.Id">
                                        <i class="fa-solid fa-basket-shopping"></i>
                                    </a>
                                </div>
                                <div class="wishIcon">
                                    <a asp-action="addwish" asp-controller="product" asp-route-id="@slider.Id" class="addWish">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/basketOwl.js"></script>
    <script src="~/js/mostOwl.js"></script>
}

