@model WishListViewModel
@{
    ViewData["Title"] = "WishList";
}

<section id="wishlist">
    <div class="container">

        <div class="row wishProducts">
            <h1>WISHLIST</h1>
            <h3>What your favourite product.</h3>
            @foreach (var wish in Model.WishlistItems)
            {
                var prd = wish.Product;
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="wishProduct">
                        <div class="cardImage">
                            <a asp-action="detail" asp-controller="product" asp-route-id="@prd.Id">
                                <img src="~/uploads/products/@prd.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image">
                            </a>
                        </div>
                        <div class="cardInfo">
                            <a asp-action="detail" asp-controller="product" asp-route-id="@wish.Product.Id">
                                <h2>
                                    @prd.Name
                                </h2>
                            </a>
                            <div class="wishPrice">
                                @if (wish.Product.DiscountPercent > 0)
                                {
                                    <p>₼@((prd.SalePrice*(100- prd.DiscountPercent)/100).ToString("0.00"))</p>
                                    <del> ₼@prd.SalePrice.ToString("0.00")</del>
                                    <span> @prd.DiscountPercent%</span>
                                }
                                else
                                {
                                    <p>₼@((prd.SalePrice*(100- prd.DiscountPercent)/100).ToString("0.00"))</p>
                                }

                            </div>
                            <div class="wishBtn">
                                <a asp-action="addbasket" asp-controller="product" asp-route-id="@prd.Id" class="btn btn-primary addBasket">
                                    AddBasket
                                </a>
                                <a asp-action="deleteWish" asp-controller="product" asp-route-id="@prd.Id" class="btn  btn-danger deleteWish">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

