@model WishListViewModel
@{
    ViewData["Title"] = "WishList";
}

<section id="wishlist">
    <div class="container">

        <div class="row wishProducts">
            <h1>WISHLIST</h1>
            <h3>What your favourite product.</h3>
            @foreach (var wish in Model.WishlistItems)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="wishProduct">
                        <div class="cardImage">
                            <a asp-action="detail" asp-controller="product" asp-route-id="@wish.Product.Id">
                                <img src="~/uploads/products/@wish.Product.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image">
                            </a>
                        </div>
                        <div class="cardInfo">
                            <a asp-action="detail" asp-controller="product" asp-route-id="@wish.Product.Id">
                                <h2>
                                    @wish.Product.Name
                                </h2>
                            </a>
                            <div class="wishPrice">
                                <p>₼@((wish.Product.SalePrice*(100- wish.Product.DiscountPercent)/100).ToString("#.00"))</p>
                                <del> ₼@wish.Product.SalePrice.ToString("#.00")</del>
                                <span> @wish.Product.DiscountPercent%</span>
                            </div>
                            <div class="wishBtn">
                                <a asp-action="addbasket" asp-controller="product" asp-route-id="@wish.Product.Id" class="btn btn-primary addBasket">
                                    AddBasket
                                </a>
                                <a  asp-action="deleteWish" asp-controller="product" asp-route-id="@wish.Product.Id" class="btn  btn-danger deleteWish">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

