@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<section id="categoryMed">
    <div class="container">
        <div class="row">
            <div class="col-lg-12    cateMed ">
                @foreach (var item in Model.Categories)
                {
                    <ul class="row">
                        <li class="col">
                            <a href="#">
                                @item.Name
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</section>

<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel owl-carousel-slider owl-theme slider p-0 m-0">
                @foreach (var item in Model.Sliders)
                {
                    <div class="item">
                        <a asp-action="detail" asp-controller="product" asp-route-id="@item.ProductId">
                            <img src="~/Images/sliders/@item.Image " alt="" width="100%" height="100%">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="categorySbilab">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.SbiLabs)
            {
                <div class="col-lg-6 col-md-12 col-sm-12 sbiLabBox">
                    <ul>
                        <li class="sbliLabLi">
                            <a href="#">
                                <ul>
                                    <li>
                                        <div class="sbiLabImage">
                                            <img src="~/Images/sbLabs/@item.Image" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h1>
                                            @item.Title
                                        </h1>
                                        <p>
                                            @item.Info
                                        </p>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</section>

<section id="trendingToday">
    <div class="container-fluid">
        <div class="row trendUp">
            <h1>Trending Today</h1>
        </div>
        <div class="row trendDown">
            <div class="owl-carousel owl-theme owl-carousel-trending">
                @foreach (var trend in Model.TrendSliders)
                {
                    <div class="item">
                        <a asp-action="detail" asp-controller="product" asp-route-id="@trend.ProductId">
                            <img src="~/Images/trendingsTodays/@trend.Name" alt="">
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<section id="discountOwl">
    <div class="container-fluid">
        <div class="row disUp">
            <h1>Discount Products </h1>
        </div>
        <div class="row disDown">
            <div class="owl-carousel owl-theme owl-carousel-discount">
                @await Html.PartialAsync("_DiscountProductsPartial", Model.DiscountProducts)
            </div>
        </div>
    </div>
</section>

<section id="orderBeauty">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 OrderB">
                <div class="row">
                    <div class="col-lg-6 leftOrder">
                        <h1>
                            Previous Orders
                        </h1>
                        <p>
                            Your previously ordered products
                        </p>
                        <a href="#">
                            <span>View Orders</span>
                            <img src="./Images/orderBeautys/arrow_mark.svg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 orderRight">
                        <img src="./Images/orderBeautys/previous_orders.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 Beauty">
                <div class="row">
                    <div class="col-lg-6 leftBeauty">
                        <h1>
                            Beauty Products
                        </h1>
                        <p>
                            Save Upto 40% off
                        </p>
                        <a href="#">
                            Explore Beauty
                        </a>
                    </div>
                    <div class="col-lg-6 beautyRight">
                        <img src="./Images/orderBeautys/beauty_products.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="newProduct">
    <div class="container-fluid">
        <div class="row newProUp">
            <h1>New Products </h1>
        </div>
        <div class="row newProDown">
            <div class="owl-carousel owl-theme owl-carousel-newproduct">
                @await Html.PartialAsync("_NewProductSliderPartial", Model.NewProducts)
            </div>
        </div>
    </div>
</section>

<section id="favProduct">
    <div class="container-fluid">
        <div class="row favProUp">
            <h1>Favourite Products </h1>
        </div>
        <div class="row favProDown">
            <div class="owl-carousel owl-theme owl-carousel-favproduct">
                @await Html.PartialAsync("_FavouriteProductsPartial", Model.FavouriteProducts)
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script src="~/js/trendingCarousel.js"></script>
    <script src="~/js/_discountOwl.js"></script>
    <script src="~/js/newProductOwl.js"></script>
    <script src="~/js/favproduct.js"></script>
} 