
@{
    ViewData["Title"] = "Shop";
    int collapseCount = 0;
}
@model ProductShopViewModel


<section id="shopFilter">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 shopLeft">
                <div class="shopCategory">
                    <h1>
                        Category
                    </h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        @foreach (var category in Model.Categories)
                        {
                            collapseCount++;
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#collapse-@collapseCount" aria-expanded="false" aria-controls="collapse-@collapseCount">
                                        @category.Name
                                    </a>
                                </h2>
                                <div id="collapse-@collapseCount" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            @foreach (var subCategory in Model.SubCategories.Where(x=>x.CategoryId == category.Id))
                                            {
                                                <li>
                                                    <a href="#">
                                                        @subCategory.Name
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="shopFilter">
                    <h1>
                        Filters
                    </h1>

                    <div class="filterBrands">
                        <div class="noneAccordion">
                            <h2>
                                Brands
                            </h2>
                            <form method="post">
                                @*@foreach (var category in Model.Categories)
                                {
                                    @foreach (var subCategory in Model.SubCategories.Where(x=>x.CategoryId == category.Id))
                                    {
                                        @foreach (var brand in Model.Brands.Where(x => x.SubCategoryId == subCategory.Id))
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    @brand.Name
                                                </label>
                                            </div>
                                        }
                                    }
                                }*@


                            </form>
                        </div>
                    </div>

                    <div class="filterBrands">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <a class="accordion-button collapsed" data-bs-toggle="collapse"
                                       data-bs-target="#flush-collapse1" aria-expanded="false"
                                       aria-controls="flush-collapse1">
                                        Brands
                                    </a>
                                </h2>
                                <div id="flush-collapse1" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form method="post">
                                            @foreach (var brand in Model.Brands)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        @brand.Name
                                                    </label>
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filterType">
                        <h2>
                            Type
                        </h2>
                        <form method="post">
                            @foreach (var type in Model.Types)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                           id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        @type.Name
                                    </label>
                                </div>
                            }
                        </form>
                    </div>
                    <h2>
                        Price
                    </h2>
                    <div class="filterRangePrice">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="slider-range"></div>
                            </div>
                        </div>
                        <div class="row slider-labels">
                            <div class="col-lg-6 caption">
                                <span id="slider-range-value1"></span>
                            </div>
                            <div class="col-lg-6 text-right caption d-flex justify-content-end">
                                <span id="slider-range-value2"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <form>
                                    <input type="hidden" name="min-value" value="">
                                    <input type="hidden" name="max-value" value="">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-10 shopRight">
                <div class="shopSlider">
                    <div class="owl-carousel owl-carousel-slider owl-carousel-shop owl-theme slider p-0 m-0">
                        @foreach (var item in Model.ShopSliders)
                        {
                            <div class="item">
                                <a asp-action="detail" asp-controller="product" asp-route-id="@item.ProductId">
                                    <img src="~/Images/sliders/@item.Image" alt="" width="100%"
                                         height="100%">
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="shopProducts">
                    <h2>
                        ALL PRODUCTS
                    </h2>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="shopProduct">
                                <div class="shopProImage">
                                    <a href="#">
                                        <img src="~/Images/shopFilters/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                                             alt="">
                                        <span>6% OFF</span>
                                    </a>
                                </div>
                                <div class="shopTitle">
                                    <a href="#">
                                        <h2>

                                            Kapiva Wheat Grass Juice 1 ltr
                                        </h2>
                                    </a>

                                    <p>
                                        Mkt: Adret Retail Pvt Ltd, (Kapiva)
                                    </p>
                                </div>
                                <div class="shopPrice">
                                    <div class="bestP">
                                        <span>Best price* </span>
                                        <p>₹469.06</p>
                                    </div>
                                    <div class="MRP">
                                        <span>MRP </span>
                                        <del>Rs.499.00</del>
                                    </div>
                                </div>
                                <div class="shopBtn">
                                    <a class="AddBtn" href="#">ADD TO CART</a>
                                    <a href="#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="shopProduct">
                                <div class="shopProImage">
                                    <a href="#">
                                        <img src="~/Images/shopFilters/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                                             alt="">
                                        <span>6% OFF</span>
                                    </a>
                                </div>
                                <div class="shopTitle">
                                    <a href="#">
                                        <h2>

                                            Kapiva Wheat Grass Juice 1 ltr
                                        </h2>
                                    </a>

                                    <p>
                                        Mkt: Adret Retail Pvt Ltd, (Kapiva)
                                    </p>
                                </div>
                                <div class="shopPrice">
                                    <div class="bestP">
                                        <span>Best price* </span>
                                        <p>₹469.06</p>
                                    </div>
                                    <div class="MRP">
                                        <span>MRP </span>
                                        <del>Rs.499.00</del>
                                    </div>
                                </div>
                                <div class="shopBtn">
                                    <a class="AddBtn" href="#">ADD TO CART</a>
                                    <a href="#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="shopProduct">
                                <div class="shopProImage">
                                    <a href="#">
                                        <img src="~/Images/shopFilters/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                                             alt="">
                                        <span>6% OFF</span>
                                    </a>
                                </div>
                                <div class="shopTitle">
                                    <a href="#">
                                        <h2>

                                            Kapiva Wheat Grass Juice 1 ltr
                                        </h2>
                                    </a>

                                    <p>
                                        Mkt: Adret Retail Pvt Ltd, (Kapiva)
                                    </p>
                                </div>
                                <div class="shopPrice">
                                    <div class="bestP">
                                        <span>Best price* </span>
                                        <p>₹469.06</p>
                                    </div>
                                    <div class="MRP">
                                        <span>MRP </span>
                                        <del>Rs.499.00</del>
                                    </div>
                                </div>
                                <div class="shopBtn">
                                    <a class="AddBtn" href="#">ADD TO CART</a>
                                    <a href="#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="shopProduct">
                                <div class="shopProImage">
                                    <a href="#">
                                        <img src="~/Images/shopFilters/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                                             alt="">
                                        <span>6% OFF</span>
                                    </a>
                                </div>
                                <div class="shopTitle">
                                    <a href="#">
                                        <h2>

                                            Kapiva Wheat Grass Juice 1 ltr
                                        </h2>
                                    </a>

                                    <p>
                                        Mkt: Adret Retail Pvt Ltd, (Kapiva)
                                    </p>
                                </div>
                                <div class="shopPrice">
                                    <div class="bestP">
                                        <span>Best price* </span>
                                        <p>₹469.06</p>
                                    </div>
                                    <div class="MRP">
                                        <span>MRP </span>
                                        <del>Rs.499.00</del>
                                    </div>
                                </div>
                                <div class="shopBtn">
                                    <a class="AddBtn" href="#">ADD TO CART</a>
                                    <a href="#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="shopProduct">
                                <div class="shopProImage">
                                    <a href="#">
                                        <img src="~/Images/shopFilters/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                                             alt="">
                                        <span>6% OFF</span>
                                    </a>
                                </div>
                                <div class="shopTitle">
                                    <a href="#">
                                        <h2>

                                            Kapiva Wheat Grass Juice 1 ltr
                                        </h2>
                                    </a>

                                    <p>
                                        Mkt: Adret Retail Pvt Ltd, (Kapiva)
                                    </p>
                                </div>
                                <div class="shopPrice">
                                    <div class="bestP">
                                        <span>Best price* </span>
                                        <p>₹469.06</p>
                                    </div>
                                    <div class="MRP">
                                        <span>MRP </span>
                                        <del>Rs.499.00</del>
                                    </div>
                                </div>
                                <div class="shopBtn">
                                    <a class="AddBtn" href="#">ADD TO CART</a>
                                    <a href="#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row shopPagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="script.js"></script>
    <script src="~/js/shopSlider.js"></script>
    <script src="~/js/bootstrap-slider.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/shopFilterRange.js"></script>
}